/* COMENTARIO*/

nav {
    display: flex;
}

nav>a>img {
    height: 50px;
    margin-left: 50px;
}

nav>ul {
    display: flex;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav>ul>li {
    margin: 0px 15px;
}

#contactsales {
    color: white;
    background-color: rgb(141, 22, 125);
    padding: 10px;
    border-radius: 20px;
    margin: -10px 10px;
}

.header1 {
    color: white;
    padding: 30px;
    display: flex;
    background-image: url(https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105__480.png);
    text-align: left;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px 0px;
}

main,
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1200px;
}

a>img {
    display: flex;
    height: 14px;
    margin: 0px 30px;
}

.toplist {
    display: flex;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    color: rgb(84, 96, 109);
}

.toplist li {
    display: flex;
    margin-left: 50px;
    margin: -27px 7px;
}

.topparagraph {
    width: 600px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: rgb(69, 70, 75);
    margin: 25px 50px;
    text-align: left;
}

.header2 {
    color: rgb(141, 22, 125);
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 50px;
}

main>div>ul {
    list-style: none;
}

.secondlist {
    list-style: none;

}

.secondlist li {
    margin-left: 15px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(69, 70, 75);
}

.secondlist li::before {
    /* Aquí hay una bronca, la lista de arriba aplica el estilo que quiero aplicar en la lista de abajo */
    content: "\2022";
    color: rgb(141, 22, 125);
    margin-right: 5px;
}

form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0px 55px;
    display: flex;
    flex-direction: column;
}

form>label {
    margin-top: 8px;
}

form>input {
    width: 400px;
    padding: 5px 10px;
    margin: 5px 0px;
    border-color: rgb(141, 22, 125);
    border-radius: 20px;
}

form>input:focus {
    outline: none;
    border: 1px solid greenyellow;
}

form>input::placeholder {
    color: rgb(241, 148, 25);
    opacity: 1;
    /* padding: 0px; El Padding del placeholder se mueve igual que el del input, mantiene misma dimensión */
}

form>button {
    background-color: rgb(141, 22, 125);
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: rgb(241, 148, 25);
    width: 300px;
    margin-left: 60px;
    margin-top: 10px;
}

form>button:hover {
    background-color: rgb(177, 17, 155);
    cursor: pointer;
}

form>button:active {
    background-color: rgb(147, 22, 163);
}

main>form>button:focus {
    background-color: chartreuse;
}